 body{
    background-color:rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 60px;
    border-width: 10px;
    text-align: center;
    font-size: 25px;
}

 h1{
    text-align: center;
    background-color: rgb(88, 88, 88);
    font-size: 100px;
    border: 10px solid;
    border-color: black;
}

 h2{
    text-align: center; 
    font-size: 100px;
}


 p{
    margin-left: 03%;
 }  

 em strong{
    color: chocolate;
 }

 img{
    
 }

 #banner{
width: 100%;
 }

 .imagembeneficios {
    width: 50%;
 }

 .itens{
font-style: italic;
text-align: left;
 }

 .beneficios{
background: rgb(51, 51, 51);
padding: 20px;
 }

 ul{
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
border: 3px solid black;
 }

  .hrdivisao{
background-color: yellow
  }