@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
        background-color: rgb(51, 51, 51);
        color: rgb(255, 255, 255);
        font-size: 25px;
        text-align: center;
    }
    .titulo-principal {
        text-align: center;
        font-size: 75px;
        fon
    }

    h2 {
        text-align: center;
        font-size: 100px;
    }


    p {
        margin-left: 03%;
    }

    em strong {
        color: rgb(127, 69, 202);
    }

    #banner {
        width: 100%;
    }

    .imagembeneficios {
        width: 50%;
    }

    .itens {
        font-style: italic;
        text-align: left;
        list-style-type: none;
    }
 

    .beneficios {
        padding: 20px;
        border-top: 10px black;
        background: rgb(51, 51, 51);
    }

    ul {
        
        vertical-align: top;
        width: 20%;
        margin-right: 15%;

    }
    .ul2{
        border: 8px solid black;
        line-height: 2;
        border-radius: 60px;
        font-size: 40px;
        
    }
    

    .menu{
        display: flex;
        vertical-align: top;
        width: 20%;
        margin-right: 15%;
      
    }
    .conteudo-beneficios {
        width: 640px;
        margin: 0 auto;
    }

    .lista-beneficios {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }

    .itens {
        line-height: 1.5;
    }

    .itens:first-child {
        font-weight: bold;
    }

    .itens:before {
        content: "🟊";
    }

    .imagembeneficios {
        width: 40%;
        opacity: 1;
        transition: 400ms;
        box-shadow: 10px 10px 10px 0 #000000;
    }

    .imagembeneficios:hover {
        opacity: 0.3;
    }