.background-div {
    width: 100%;
    height: 500px;
    background-image:url(img/banner.jpg); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir totalmente a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}